h1{
    font-family: inherit;
    font-style: italic;
}

h2{
    font-weight: bolder;
    font-family: inherit;
}

h3{
    font-family: inherit;
    font-weight: lighter;
}

li{
    font-family: inherit;
}

.center{
    text-align: center;
}

img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption{
    text-align: right;
    color: lightslategray;
    font-size: 75%;
}

.pics{
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
}

.pic{
    display: inline-block;
    width: 45%;
 }

 #banner{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }

 .footer{
     color: gray;
     font-style: italic;
     text-align: center;
     font-size: 75%;
 }